/.emfHelper.java._trace
/.emf.java._trace
/.atl.java._trace
/.keyword.java._trace
/.myOclType.java._trace
/.atl.xtendbin
/.emf.xtendbin
/.myOclType.xtendbin
/atl.java
/emf.java
/myOclType.java
/.TypeInference.java._trace
/.URIs.java._trace
