/UMLCopier.asm
/UMLCopier.emftvm
/UML.normalize.ocl.asm
/generatedPost.asm
/BuggedPost.asm
/BuggedPre.asm
/test.asm
/UML2UMLsContract-Removed.asm
/UML2UMLsContract.asm
/UML2UMLs.asm
/UML2UMLs.emftvm
/Singleton.asm
/Singleton.emftvm
