<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="fr.emn.atlanmod.veriatl.launcher">
<stringAttribute key="ATL File Name" value="//fr.emn.atlanmod.veriatl.casestudy.base/HSM2FSM_GUI/Source/HSM2FSM.atl"/>
<stringAttribute key="CONTRACT PATH" value="platform:/resource/fr.emn.atlanmod.veriatl.casestudy.base/HSM2FSM_GUI/Source/HSM2FSMContract.atl"/>
<mapAttribute key="Inout Model Options"/>
<mapAttribute key="Inout Models"/>
<mapAttribute key="Inout Models Output Locations"/>
<mapAttribute key="Input Model Options"/>
<mapAttribute key="Input Models">
<mapEntry key="IN" value="platform:/resource/fr.emn.atlanmod.veriatl.casestudy.base/HSM2FSM_GUI/Source/HSM.xmi"/>
</mapAttribute>
<mapAttribute key="Metamodel Options"/>
<mapAttribute key="Metamodels">
<mapEntry key="FSM" value="platform:/resource/fr.emn.atlanmod.veriatl.casestudy.base/HSM2FSM_GUI/Source/FSM.ecore"/>
<mapEntry key="HSM" value="platform:/resource/fr.emn.atlanmod.veriatl.casestudy.base/HSM2FSM_GUI/Source/HSM.ecore"/>
</mapAttribute>
<stringAttribute key="Module Name" value="HSM2FSM"/>
<stringAttribute key="Module Path" value="/fr.emn.atlanmod.veriatl.casestudy.base/HSM2FSM_GUI/Source/"/>
<mapAttribute key="Output Model Options">
<mapEntry key="OUT" value="allowIntermodelReferences derivedFile"/>
</mapAttribute>
<mapAttribute key="Output Models">
<mapEntry key="OUT" value="platform:/resource/fr.emn.atlanmod.veriatl.casestudy.base/HSM2FSM_GUI/Source/FSM.xmi"/>
</mapAttribute>
<stringAttribute key="POST NAME" value="all"/>
<stringAttribute key="PROJ PATH" value="platform:/resource/fr.emn.atlanmod.veriatl.casestudy.base/HSM2FSM_GUI"/>
<stringAttribute key="SOURCE MM PATH" value="platform:/resource/fr.emn.atlanmod.veriatl.casestudy.base/HSM2FSM_GUI/Source/HSM.ecore"/>
<listAttribute key="Superimpose"/>
<stringAttribute key="TARGET MM PATH" value="platform:/resource/fr.emn.atlanmod.veriatl.casestudy.base/HSM2FSM_GUI/Source/FSM.ecore"/>
<booleanAttribute key="debug" value="true"/>
<booleanAttribute key="executeATL" value="false"/>
<booleanAttribute key="genBoogie" value="false"/>
<booleanAttribute key="test" value="false"/>
<booleanAttribute key="verify" value="false"/>
</launchConfiguration>
